body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

#new_campaign {
  text-align: center;
}

#search_bar_btn {
  /* search_for_a_campaign_btn.style.backgroundRepeat = 'no-repeat'
  search_for_a_campaign_btn.style.backgroundColor = 'Transparent'
  search_for_a_campaign_btn.style.border = 'none'
  search_for_a_campaign_btn.style.cursor = 'pointer'
  search_for_a_campaign_btn.style.overflow = 'hidden'
  search_for_a_campaign_btn.style.outine = 'none' */

  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#image_search {
  /* image_search.style.position = 'relative'
  image_search.style.left = '1px'
  image_search.style.top = '4px' 
  image_search.width = '20'
  image_search.height = '20'*/

  position: relative;
  left: 1px;
  top: 4px;
  width: 20px;
  height: 20px;
}

#new_campaign_input {
  height: 150px;
}